@charset "utf-8";

@import "reset";

#slideshow{
  position: relative;
  height: 100vh;
  background-color: #ccc;
  img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100vh;
    z-index: 3;
  }
  .active{
    z-index: 5;
  }
  .last-active{
    z-index: 4;
  }
}
.slide_button{
  a{
    position: fixed;
    top: 50vh;
    margin-top: -15px;
    padding: 10px 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    text-decoration: none;
    z-index: 10;
    color: #fff;
    font-size: 20px;
  }
  .prev{
    left: 0;
  }
  .next{
    right: 0;
  }
}
